# 8c0d833f-285a-4833-a17f-bd32dc85209a
CODECOV_TOKEN='8c0d833f-285a-4833-a17f-bd32dc85209a'
sudo: required
language: python

services:
- docker

install:
- pip install coverage

# - pip install -r requirements.txt
script:
- python app.py
- docker image build -t kazirys21/dockertest1 .
# - coverage run -m unittest discover
- coverage run app.py

after_success:
  #log in to docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  #take built images and push to DOcker hub
  - docker push kazirys21/dockertest1
  - bash <(curl -s https://codecov.io/bash)
  - codecov
  #test

deploy:
  provider: elasticbeanstalk
  region: "us-east-1"
  app: "dtest"
  env: "Dtest-env"
  bucket_name: "elasticbeanstalk-us-east-1"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
