# 8c0d833f-285a-4833-a17f-bd32dc85209a
env:
  global:
    - CODECOV_TOKEN=58fdd222-b6b1-46e3-9a66-441c6a348e89
sudo: required
language: python

services:
- docker

install:
- pip install coverage

# - pip install -r requirements.txt
script:
# - python app.py
- docker image build -t xscarfacex/cps847a2 .
# - coverage run -m unittest discover
#- coverage run app.py

after_success:
  #log in to docker CLI
#   - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  #take built images and push to DOcker hub
  - docker push xscarfacex/cps847a2
#   - bash <(curl -s https://codecov.io/bash)
#   - codecov

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "847_A2"
  env: "847a2-env"
  bucket_name: "elasticbeanstalk-us-east-2-648175851624"
  bucket_path: "docker"
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
